.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__skills {
        max-width: 300px;
    }
    &__data {
        text-align: center;
        &-title {
            margin-bottom: 1rem;
        }
        &-description {
            font-size: 2rem;
        }
    }
    &__social {
        max-width: 300px;
    }
    &__bottom {
        position: absolute;
        bottom: 24px;
        width: 32px;
    }
}