.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__data {
        width: 100%;
        text-align: center;
        &-title {
            font-size: 64px;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &-description {
            font-size: 32px;
            color: #5390e3;
        }
    }
    &__bottom {
        position: absolute;
        bottom: 24px;
        width: 32px;
    }
}