

.job {
    display: flex;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1214px;
    height: 300px;
    position: relative;
    border-top: 1px solid #183558;
    border-bottom: 1px solid #183558;
    &__img {
        width: 48px;
    }
    &__name {
        font-size: 48px;
        font-weight: 500;
        margin-top: 16px;
    }
    &__description {
        max-width: 400px;
        margin-top: 12px;
    }
    &:hover {
        &::after {
            right: 0;
        }
    }
    &__data {
        background-color: transparent;
        color: white;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__content {
        flex: 1;
        background-color: transparent;
        position: relative;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 24px;
        }
    }
    &__view {
        margin-top: 24px;
        display: flex;
        gap: 16px;
        &-link {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}

.job-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1214px;
    width: 100%;
    height: 300px;
    position: relative;
    border-bottom: 1px solid #183558;
    border-top: 1px solid #183558;
    margin-bottom: 48px;
    &__img {
        width: 48px;
    }
    &__name {
        font-size: 48px;
        font-weight: 500;
        margin-top: 16px;
    }
    &__description {
        max-width: 400px;
        margin-top: 12px;
    }
    &:hover {
        &::after {
            right: 50%;
        }
    }
    &__data {
        background-color: transparent;
        color: white;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__content {
        flex: 1;
        background-color: transparent;
        position: relative;
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 24px;
        }
    }
    &__view {
        margin-top: 24px;
        display: flex;
        gap: 16px;
        &-link {
            display: flex;
            align-items: center;
            gap: 4px;
            i {
                color: white;
            }
        }
    }
}

.rafael-moura {
    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 50%;
        background-color: #102C6C;
        background-image: url("../svg/logo-rafael-moura.svg");
        background-repeat: no-repeat;
        background-position: center center;
        transition: 1.4s ease
    }
}

.spider-man {
    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0%;
        background-color: #B21317;
        background-image: url("../svg/spider-man.svg");
        background-repeat: no-repeat;
        background-position: center center;
        transition: 1.4s ease
    }
}

.nubank {
    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 50%;
        background-color: #891caa;
        background-image: url("../svg/nubank.svg");
        background-repeat: no-repeat;
        background-position: center center;
        transition: 1.4s ease
    }
}
