.skills {
    position: absolute;
    left: 0;
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
        &-lg,
        &-md {
            border: 0.3px solid $secondary-light;
            border-radius: 50%;
            font-size: 14px;
        }
        &-lg {
            width: 458px;
            height: 458px;
            animation: r 65s linear infinite;
        }
        &-md {
            position: absolute;
            width: 258px;
            height: 258px;
            animation: ri 65s linear infinite;
            z-index: 1;
        }
        &-sm {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            background: $primary-normal;
            border-radius: 50%;
            z-index: 2;
            img {
                display: none;
            }
        }
    }
}

.lg-1 {
    position: absolute;
    top: -5%;
    right: 24%;
    width: 80px;
    height: 80px;
}

.lg-2 {
    position: absolute;
    top: 21%;
    right: -4%;
    width: 80px;
    height: 80px;
}

.lg-3 {
    position: absolute;
    bottom: 20%;
    right: -8%;
    width: 105px;
    height: 105px;
}

.lg-4 {
    position: absolute;
    bottom: -5%;
    right: 22%;
    width: 80px;
    height: 80px;
}

.lg-5 {
    position: absolute;
    bottom: -5%;
    right: 64%;
    width: 80px;
    height: 80px;
}

.lg-6 {
    position: absolute;
    bottom: 22%;
    right: 87%;
    width: 80px;
    height: 80px;
}

.lg-7 {
    position: absolute;
    bottom: 57%;
    right: 86%;
    width: 105px;
    height: 105px;
}

.lg-8 {
    position: absolute;
    bottom: 87%;
    right: 60%;
    width: 85px;
    height: 85px;
}

.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00060b;
    border: 0.5px solid $secondary-light;
    border-radius: 50%;
    transition: 0.3s ease;
    animation: ri 65s linear infinite;
    &:hover {
        background: #000b14;
    }
}

.md-1 {
    top: 5%;
    right: 4%;
}

.md-2 {
    top: 75%;
    right: 5%;
}

.md-3 {
    top: 74%;
    right: 74%;
}

.md-4 {
    top: 5%;
    right: 74%;
}

.md-1,
.md-2,
.md-3,
.md-4 {
    position: absolute;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00060b;
    border: 1px solid $secondary-light;
    border-radius: 50%;
    transition: 0.3s ease;
    animation: r 65s linear infinite;
    &:hover {
        background: #000b14;
    }
}