.hero {
    &__social {
        width: 100%;
        position: absolute;
        &-links {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(50%);
        }
        &-lg,
        &-md {
            border: 0.3px solid $secondary-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        &-lg {
            width: 458px;
            height: 458px;
            animation: r 65s linear infinite;
        }
        &-md {
            position: absolute;
            width: 258px;
            height: 258px;
            animation: r 65s linear infinite;
        }
        &-sm {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            background: $primary-normal;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                position: absolute;
                width: 90px;
                animation: r 65s linear infinite;
            }
        }
    }
}

.l-1 {
    top: -1%;
    left: 25%;
}

.l-2 {
    top: 26%;
    left: -2%;
}

.l-3 {
    top: 64%;
    left: -2%;
}

.l-4 {
    top: 90%;
    left: 25%;
}

.l-5 {
    top: 90%;
    left: 66%;
}

.l-6 {
    top: 64%;
    left: 91%;
}

.l-7 {
    top: 26%;
    left: 91%;
}

.l-8 {
    top: -1%;
    left: 64%;
}

.l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.m-1,
.m-2,
.m-3,
.m-4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 24px;
    font-size: 24px;
    background: #00060b;
    color: $secondary-light;
    border-radius: 50%;
    border: 0.5px solid $secondary-light;
    animation: ri 65s linear infinite;
    &:hover {
        background: #000b14;
    }
}

.m-1 {
    top: 7%;
    left: 4%;
}

.m-2 {
    top: 7%;
    left: 77%;
}

.m-3 {
    top: 76%;
    left: 4%;
}

.m-4 {
    top: 74%;
    left: 78%;
}