.section {
    width: 100%;
    &__data {
        margin: 0 auto;
        text-align: center;
        margin-top: 140px;
        margin-bottom: 140px;
        max-width: 500px;
        &-category {
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            color: $secondary-light;
        }
        &-title {
            font-size: 48px;
            margin-top: 14px;
            font-weight: 400;
        }
        &-description {
            margin-top: 14px;
            color: #ACB2BB;
        }
    }
}

.main {
    overflow: hidden;
}