/*======= CONFIG =======*/
/*======= SCREEN =======*/
/*======= BASE =======*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Raleway", sans-serif;
  background: #00060B;
  color: #FFFFFF;
}

svg,
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*======= CLASSES =======*/
/*======= TYPOGRAPHY =======*/
/*======= ANIMATION =======*/
.F,
.S {
  fill-opacity: 0;
  stroke-dasharray: 1038;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 4;
  animation: logo-v2 10s linear forwards;
}

@keyframes logo {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 0 1000;
  }
  25% {
    fill-opacity: 0;
    stroke-dasharray: 1000 0;
  }
  75%, 100% {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-dasharray: 1000 0;
  }
}
@keyframes logo-v2 {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }
  40% {
    fill-opacity: 0;
    stroke-dashoffset: 1038;
  }
  80% {
    fill-opacity: 0;
    stroke-dashoffset: 2076;
    stroke-width: 4;
  }
  85%, 100% {
    stroke-dashoffset: 2076;
    fill-opacity: 1;
    stroke-width: 0;
  }
}
.social-links {
  fill: orange;
}

@keyframes r {
  to {
    transform: rotate(-360deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes ri {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
/*======= LAYOUT =======*/
.section {
  width: 100%;
}
.section__data {
  margin: 0 auto;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  max-width: 500px;
}
.section__data-category {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5390E3;
}
.section__data-title {
  font-size: 48px;
  margin-top: 14px;
  font-weight: 400;
}
.section__data-description {
  margin-top: 14px;
  color: #ACB2BB;
}

.main {
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

/*======= COMPONENTS =======*/
.nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  height: 70px;
  backdrop-filter: blur(3.5px);
  background: linear-gradient(180deg, rgba(0, 0, 10, 0.9) 0%, rgba(0, 0, 10, 0) 100%);
  justify-content: center;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.nav__link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  display: none;
}
.nav__logo-svg {
  width: 48px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero__data {
  width: 100%;
  text-align: center;
}
.hero__data-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.hero__data-description {
  font-size: 32px;
  color: #5390e3;
}
.hero__bottom {
  position: absolute;
  bottom: 24px;
  width: 32px;
}

.skills {
  position: absolute;
  left: 0;
}
.skills__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.skills__circle-lg, .skills__circle-md {
  border: 0.3px solid #5390E3;
  border-radius: 50%;
  font-size: 14px;
}
.skills__circle-lg {
  width: 458px;
  height: 458px;
  animation: r 65s linear infinite;
}
.skills__circle-md {
  position: absolute;
  width: 258px;
  height: 258px;
  animation: ri 65s linear infinite;
  z-index: 1;
}
.skills__circle-sm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #1B69D2;
  border-radius: 50%;
  z-index: 2;
}
.skills__circle-sm img {
  display: none;
}

.lg-1 {
  position: absolute;
  top: -5%;
  right: 24%;
  width: 80px;
  height: 80px;
}

.lg-2 {
  position: absolute;
  top: 21%;
  right: -4%;
  width: 80px;
  height: 80px;
}

.lg-3 {
  position: absolute;
  bottom: 20%;
  right: -8%;
  width: 105px;
  height: 105px;
}

.lg-4 {
  position: absolute;
  bottom: -5%;
  right: 22%;
  width: 80px;
  height: 80px;
}

.lg-5 {
  position: absolute;
  bottom: -5%;
  right: 64%;
  width: 80px;
  height: 80px;
}

.lg-6 {
  position: absolute;
  bottom: 22%;
  right: 87%;
  width: 80px;
  height: 80px;
}

.lg-7 {
  position: absolute;
  bottom: 57%;
  right: 86%;
  width: 105px;
  height: 105px;
}

.lg-8 {
  position: absolute;
  bottom: 87%;
  right: 60%;
  width: 85px;
  height: 85px;
}

.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #00060b;
  border: 0.5px solid #5390E3;
  border-radius: 50%;
  transition: 0.3s ease;
  animation: ri 65s linear infinite;
}
.lg-1:hover,
.lg-2:hover,
.lg-3:hover,
.lg-4:hover,
.lg-5:hover,
.lg-6:hover,
.lg-7:hover,
.lg-8:hover {
  background: #000b14;
}

.md-1 {
  top: 5%;
  right: 4%;
}

.md-2 {
  top: 75%;
  right: 5%;
}

.md-3 {
  top: 74%;
  right: 74%;
}

.md-4 {
  top: 5%;
  right: 74%;
}

.md-1,
.md-2,
.md-3,
.md-4 {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #00060b;
  border: 1px solid #5390E3;
  border-radius: 50%;
  transition: 0.3s ease;
  animation: r 65s linear infinite;
}
.md-1:hover,
.md-2:hover,
.md-3:hover,
.md-4:hover {
  background: #000b14;
}

.social {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
}
.social-lg, .social-md {
  border: 0.3px solid #5390E3;
  border-radius: 50%;
}
.social-lg {
  width: 458px;
  height: 458px;
  animation: r 65s linear infinite;
}
.social-md {
  position: absolute;
  width: 258px;
  height: 258px;
  animation: r 65s linear infinite;
  z-index: 1;
}
.social-sm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #1B69D2;
  border-radius: 50%;
  z-index: 2;
}
.social-sm img {
  display: none;
}

.l-1 {
  top: -1%;
  left: 25%;
}

.l-2 {
  top: 26%;
  left: -2%;
}

.l-3 {
  top: 64%;
  left: -2%;
}

.l-4 {
  top: 90%;
  left: 25%;
}

.l-5 {
  top: 90%;
  left: 66%;
}

.l-6 {
  top: 64%;
  left: 91%;
}

.l-7 {
  top: 26%;
  left: 91%;
}

.l-8 {
  top: -1%;
  left: 64%;
}

.l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.m-1,
.m-2,
.m-3,
.m-4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 24px;
  font-size: 24px;
  background: #00060b;
  color: #5390E3;
  border-radius: 50%;
  border: 0.5px solid #5390E3;
  animation: ri 65s linear infinite;
}
.l-1:hover,
.l-2:hover,
.l-3:hover,
.l-4:hover,
.l-5:hover,
.l-6:hover,
.l-7:hover,
.l-8:hover,
.m-1:hover,
.m-2:hover,
.m-3:hover,
.m-4:hover {
  background: #000b14;
}

.m-1 {
  top: 7%;
  left: 4%;
}

.m-2 {
  top: 7%;
  left: 77%;
}

.m-3 {
  top: 76%;
  left: 4%;
}

.m-4 {
  top: 74%;
  left: 78%;
}

.job {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1214px;
  height: 270px;
  position: relative;
  border-top: 1px solid #183558;
  border-bottom: 1px solid #183558;
}
.job__img {
  width: 48px;
}
.job__name {
  font-size: 48px;
  font-weight: 500;
  margin-top: 16px;
}
.job__description {
  max-width: 400px;
  margin-top: 12px;
  color: #727C89;
}
.job:hover::after {
  right: 0;
}
.job__data {
  background-color: transparent;
  color: white;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job__content {
  flex: 1;
  background-color: transparent;
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job__content span {
  font-size: 24px;
}
.job__view {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.job__view a:nth-child(1) {
  color: #5390E3;
}
.job__view-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(196, 196, 196);
}

.job-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 1214px;
  width: 100%;
  height: 270px;
  position: relative;
  border-bottom: 1px solid #183558;
  border-top: 1px solid #183558;
  margin-bottom: 50px;
}
.job-reverse__img {
  width: 48px;
}
.job-reverse__name {
  font-size: 48px;
  font-weight: 500;
  margin-top: 16px;
}
.job-reverse__description {
  max-width: 400px;
  margin-top: 12px;
  color: #727C89;
}
.job-reverse:hover::after {
  right: 50%;
}
.job-reverse__data {
  background-color: transparent;
  color: white;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job-reverse__content {
  flex: 1;
  background-color: transparent;
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job-reverse__content span {
  font-size: 24px;
}
.job-reverse__view {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.job-reverse__view-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.job-reverse__view-link i {
  color: white;
}

.rafael-moura::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  background-color: #102C6C;
  background-image: url("../svg/logo-rafael-moura.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.spider-man::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0%;
  background-color: #B21317;
  background-image: url("../svg/spider-man.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.nubank::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  background-color: #891caa;
  background-image: url("../svg/nubank.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.feedback {
  width: 100%;
}
.feedback__data {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
}
.feedback__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 32px;
  width: 100%;
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
}
.feedback__card {
  width: 386px;
  border: 1px solid #183558;
  border-radius: 4px;
  padding: 16px;
}

.about {
  margin-top: 140px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.about__img {
  position: absolute;
  width: 90%;
}
.about__data {
  text-align: center;
  max-width: 514px;
  position: relative;
}
.about__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.about__circle-lg, .about__circle-md, .about__circle-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__circle-lg {
  width: 990px;
  height: 990px;
  border-radius: 50%;
  border: 1px solid #183558;
  position: relative;
  animation: r 95s alternate infinite;
}
.about__circle-lg .c-1 {
  top: -3%;
}
.about__circle-lg .c-2 {
  bottom: -3%;
}
.about__circle-lg .c-3 {
  right: -3%;
}
.about__circle-lg .c-4 {
  left: -3%;
}
.about__circle-lg .c-5 {
  left: 11%;
  top: 11%;
}
.about__circle-lg .c-6 {
  right: 11%;
  top: 11%;
}
.about__circle-lg .c-7 {
  right: 11%;
  bottom: 11%;
}
.about__circle-lg .c-8 {
  left: 11%;
  bottom: 11%;
}
.about__circle-md {
  position: relative;
  width: 690px;
  height: 690px;
  border-radius: 50%;
  border: 1px solid #183558;
}
.about__circle-md .c-9 {
  left: 7%;
  bottom: 11%;
}
.about__circle-md .c-10 {
  right: 7%;
  bottom: 11%;
}
.about__circle-md .c-11 {
  right: 7%;
  top: 11%;
}
.about__circle-md .c-12 {
  left: 7%;
  top: 11%;
}
.about__circle-md .c-13 {
  left: 42%;
  top: -7%;
}
.about__circle-md .c-14 {
  left: 42%;
  top: 94%;
}
.about__circle-md .c-15 {
  left: 42%;
  top: 94%;
}
.about__circle-md .c-16 {
  left: 42%;
  top: 94%;
}
.about__circle-md .c-17 {
  right: -6%;
  top: 43%;
}
.about__circle-md .c-18 {
  left: -6%;
  top: 43%;
}

.c-1,
.c-2,
.c-3,
.c-4,
.c-5,
.c-6,
.c-7,
.c-8,
.c-9,
.c-10,
.c-11,
.c-12,
.c-13,
.c-14,
.c-15,
.c-16,
.c-17,
.c-18 {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #183558;
  background-color: #00060B;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ri 95s alternate infinite;
}
.c-1 img,
.c-2 img,
.c-3 img,
.c-4 img,
.c-5 img,
.c-6 img,
.c-7 img,
.c-8 img,
.c-9 img,
.c-10 img,
.c-11 img,
.c-12 img,
.c-13 img,
.c-14 img,
.c-15 img,
.c-16 img,
.c-17 img,
.c-18 img {
  width: 40px;
}

.c-5,
.c-6,
.c-7,
.c-8 {
  position: absolute;
  border-radius: 50%;
  animation: ri 95s alternate infinite;
}
.c-5 img,
.c-6 img,
.c-7 img,
.c-8 img {
  width: 100%;
  height: 100%;
}

.contact__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 148px;
}
.contact__link {
  font-size: 32px;
  margin-bottom: 88px;
}
.contact__btn {
  padding: 16px 32px;
  border: 1px solid #183558;
  border-radius: 4px;
}

.footer {
  padding: 36px 0;
  border-top: 1px solid #183558;
}
.footer__data {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__data-logo {
  max-width: 70px;
  height: auto;
}
.footer__data-copyright {
  padding: 24px;
  color: #24538c;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #00000A;
  z-index: 9999;
}
.loading__img {
  width: 80px;
}

/*======= SCREEN =======*/
@media screen and (max-width: 1040px) {
  .skills {
    width: 100%;
  }
  .skills-lg {
    width: 350px;
    height: 350px;
  }
  .skills-md {
    width: 150px;
    height: 150px;
  }
  .skills-sm {
    width: 50px;
    height: 50px;
  }
  .social__circle-lg {
    width: 350px;
    height: 350px;
  }
  .social__circle-md {
    width: 150px;
    height: 150px;
  }
  .social__circle-sm {
    width: 50px;
    height: 50px;
  }
  .hero__data-title {
    font-size: 48px;
  }
  .hero__data-description {
    font-size: 24px;
  }
  .l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.m-1,
.m-2,
.m-3,
.m-4 {
    padding: 20px;
    font-size: 20px;
  }
  .m1,
.md2,
.md3,
.md-4 {
    width: 45px;
    height: 45px;
  }
  .lg1 .lg-2,
.lg-4,
.lg-5,
.lg-6,
.lg-8 {
    width: 70px;
    height: 70px;
  }
  .lg-3,
.lg-7 {
    width: 95px;
    height: 95px;
  }
  .about__circle-lg {
    width: 790px;
    height: 790px;
  }
  .about__circle-md {
    width: 550px;
    height: 550px;
  }
  .section__data {
    padding: 16px;
  }
  .section__data-category {
    font-size: 20px;
  }
  .section__data-title {
    font-size: 36px;
  }
  .section__data-description {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .social-lg {
    backdrop-filter: blur(3.5px);
    background: linear-gradient(180deg, rgba(0, 0, 10, 0.5) 0%, rgba(0, 0, 10, 0) 100%);
  }
  .social-lg, .social-md {
    display: none;
  }
  .social-sm {
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-sm img {
    display: block;
    position: absolute;
    width: 100px;
    animation: r 65s linear infinite;
  }
  .skills__circle {
    width: 464px;
  }
  .skills__circle-lg, .skills__circle-md {
    display: none;
  }
  .skills__circle-lg {
    backdrop-filter: blur(3.5px);
    background: linear-gradient(180deg, rgba(0, 0, 10, 0.5) 0%, rgba(0, 0, 10, 0) 100%);
  }
  .skills__circle-sm {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills__circle-sm img {
    display: block;
    position: absolute;
    width: 100px;
    animation: r 65s linear infinite;
  }
  .hero__data-title {
    font-size: 36px;
  }
  .hero__data-description {
    font-size: 24px;
  }
  .job,
.job-reverse {
    flex-direction: column;
    height: auto;
  }
  .job__data,
.job-reverse__data {
    padding: 16px;
  }
  .job__select,
.job-reverse__select {
    display: none;
  }
  .job:hover::after,
.job-reverse:hover::after {
    right: -100%;
  }
  .job-reverse:hover::after {
    right: 100%;
  }
  .rafael-moura::after,
.nubank::after {
    width: 100%;
    right: 0;
  }
  .spider-man::after {
    width: 100%;
    right: 0;
  }
  .show {
    display: block;
  }
  .about__circle-lg {
    width: 750px;
    height: 750px;
  }
  .about__circle-md {
    width: 500px;
    height: 500px;
  }
  .contact__link {
    font-size: 24px;
  }
  .footer__data-copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .hero__data-title {
    font-size: 32px;
  }
  .hero__data-description {
    font-size: 20px;
  }
  .social-lg {
    width: 350px;
    height: 350px;
  }
  .social-md {
    width: 200px;
    height: 200px;
  }
  .social-sm {
    width: 40px;
    height: 40px;
  }
  .social-sm img {
    width: 80px;
  }
  .skills__circle-lg {
    width: 350px;
    height: 350px;
  }
  .skills__circle-md {
    width: 200px;
    height: 200px;
  }
  .skills__circle-sm {
    width: 40px;
    height: 40px;
  }
  .skills__circle-sm img {
    width: 80px;
  }
  .contact__link {
    font-size: 16px;
  }
  .about__circle-lg {
    width: 650px;
    height: 650px;
  }
  .about__circle-md {
    width: 450px;
    height: 450px;
  }
  .c-1,
.c-2,
.c-3,
.c-4,
.c-5,
.c-6,
.c-7,
.c-8,
.c-9,
.c-10,
.c-11,
.c-12,
.c-13,
.c-14,
.c-15,
.c-16,
.c-17,
.c-18 {
    width: 50px;
    height: 50px;
  }
  .c-1 img,
.c-2 img,
.c-3 img,
.c-4 img,
.c-5 img,
.c-6 img,
.c-7 img,
.c-8 img,
.c-9 img,
.c-10 img,
.c-11 img,
.c-12 img,
.c-13 img,
.c-14 img,
.c-15 img,
.c-16 img,
.c-17 img,
.c-18 img {
    width: 25px;
    height: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
