/*======= CONFIG =======*/
/*======= SCREEN =======*/
/*======= BASE =======*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #00060B;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

svg,
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*======= CLASSES =======*/
/*======= TYPOGRAPHY =======*/
/*======= ANIMATION =======*/
.F,
.S {
  fill-opacity: 0;
  stroke-dasharray: 1038;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 4;
  animation: logo-v2 10s linear forwards;
}

@keyframes logo {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 0 1000;
  }
  25% {
    fill-opacity: 0;
    stroke-dasharray: 1000 0;
  }
  75%, 100% {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-dasharray: 1000 0;
  }
}
@keyframes logo-v2 {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }
  40% {
    fill-opacity: 0;
    stroke-dashoffset: 1038;
  }
  80% {
    fill-opacity: 0;
    stroke-dashoffset: 2076;
    stroke-width: 4;
  }
  85%, 100% {
    stroke-dashoffset: 2076;
    fill-opacity: 1;
    stroke-width: 0;
  }
}
/*======= LAYOUT =======*/
.section {
  width: 100%;
}
.section__data {
  margin: 0 auto;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  max-width: 500px;
}
.section__data-category {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5390E3;
}
.section__data-title {
  font-size: 48px;
  font-weight: 400;
}
.section__data-description {
  color: #ACB2BB;
}

/*======= COMPONENTS =======*/
.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.nav__link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
.nav__logo-svg {
  width: 48px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__skills {
  max-width: 300px;
}
.hero__data {
  text-align: center;
}
.hero__data-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.hero__data-description {
  font-size: 32px;
  color: #5390E3;
}
.hero__social {
  max-width: 300px;
}
.hero__bottom {
  position: absolute;
  bottom: 24px;
  width: 32px;
}

.job {
  display: flex;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1214px;
  height: 300px;
  position: relative;
  border-top: 1px solid #183558;
  border-bottom: 1px solid #183558;
}
.job__img {
  width: 48px;
}
.job__name {
  font-size: 48px;
  font-weight: 500;
  margin-top: 16px;
}
.job__description {
  max-width: 400px;
  margin-top: 12px;
}
.job:hover::after {
  right: 0;
}
.job__data {
  background-color: transparent;
  color: white;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job__content {
  flex: 1;
  background-color: transparent;
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job__content span {
  font-size: 24px;
}
.job__view {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.job__view-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.job-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 1214px;
  width: 100%;
  height: 300px;
  position: relative;
  border-bottom: 1px solid #183558;
  border-top: 1px solid #183558;
  margin-bottom: 48px;
}
.job-reverse__img {
  width: 48px;
}
.job-reverse__name {
  font-size: 48px;
  font-weight: 500;
  margin-top: 16px;
}
.job-reverse__description {
  max-width: 400px;
  margin-top: 12px;
}
.job-reverse:hover::after {
  right: 50%;
}
.job-reverse__data {
  background-color: transparent;
  color: white;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job-reverse__content {
  flex: 1;
  background-color: transparent;
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job-reverse__content span {
  font-size: 24px;
}
.job-reverse__view {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.job-reverse__view-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.job-reverse__view-link i {
  color: white;
}

.rafael-moura::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  background-color: #102C6C;
  background-image: url("../svg/logo-rafael-moura.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.spider-man::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0%;
  background-color: #B21317;
  background-image: url("../svg/spider-man.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.nubank::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  background-color: #891caa;
  background-image: url("../svg/nubank.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 1.4s ease;
}

.feedback {
  width: 100%;
}
.feedback__data {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
}
.feedback__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 32px;
  width: 100%;
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
}
.feedback__card {
  width: 386px;
  border: 1px solid #183558;
  border-radius: 4px;
  padding: 16px;
}

.about {
  margin-top: 500px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about__img {
  position: absolute;
  width: 90%;
}
.about__data {
  text-align: center;
  max-width: 514px;
}

/*# sourceMappingURL=styles.css.map */
