// Spacings
$s-0: 4px;
$s-1: 8px;
$s-2: 16px;
$s-3: 24px;
$s-4: 32px;
$s-5: 40px;
$s-6: 48px;
$s-7: 56px;
$s-8: 64px;
$s-9: 72px;
$s-10: 80px;
$s-11: 88px;
$s-12: 96px;
$s-13: 104px;
$s-14: 112px;
$s-15: 120px;
$s-16: 128px;
$s-17: 136px;
$s-18: 144px;
