/*======= REUSABLE CSS CLASSES*/

// Borders

.bb-black{
  border-bottom: 1px solid $black-light;
}

.bt-black{
  border-top: 1px solid $black-light;
}

.bl-black{
  border-left: 1px solid $black-light;
}

.br-black{
  border-right: 1px solid $black-light;
}

.bg-gray{
  background-color: $black-normal;
}

.bb-gray{
  border-bottom: 2px solid $black-normal;
}

.bt-gray{
  border-top: 2px solid $black-normal;
}

.bl-gray{
  border-left: 2px solid $black-normal;
}

.br-gray{
  border-right: 2px solid $black-normal;
}
