.color-white{
    color: $white-normal;
}

.color-primary{
    color: $primary-light;
}

.color-gradient{
    background: linear-gradient(224.78deg, #5390E3 8.12%, #1357B3 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gray{
    color: $gray-5;
}

.color-red{
    color: $red-normal;
}

.color-green{
    color: $green-normal;
}

.color-yellow{
    color: $yellow-normal;
}
