// Gap's
.g-0 {
  gap: 0;
}

.g-1 {
  gap: $s-0;
}

.g-2 {
  gap: $s-1;
}

.g-3 {
  gap: $s-2;
}

.g-4 {
  gap: $s-3;
}

.g-5 {
  gap: $s-4;
}

.g-6 {
  gap: $s-5;
}

.g-7 {
  gap: $s-6;
}

.g-8 {
  gap: $s-7;
}

.g-9 {
  gap: $s-8;
}

.g-10 {
  gap: $s-9;
}

.g-11 {
  gap: $s-10;
}

.g-12 {
  gap: $s-11;
}

.g-13 {
  gap: $s-12;
}

.g-14 {
  gap: $s-13;
}

.g-15 {
  gap: $s-14;
}

.g-16 {
  gap: $s-15;
}

.g-17 {
  gap: $s-16;
}

.g-18 {
  gap: $s-17;
}

.g-19 {
  gap: $s-18;
}
