// Margin's

.m-auto {
  margin: 0;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: $s-0;
}

.m-2 {
  margin: $s-1;
}

.m-3 {
  margin: $s-2;
}

.m-4 {
  margin: $s-3;
}

.m-5 {
  margin: $s-4;
}

.m-6 {
  margin: $s-5;
}

.m-7 {
  margin: $s-6;
}

.m-8 {
  margin: $s-7;
}

.m-9 {
  margin: $s-8;
}

.m-10 {
  margin: $s-9;
}

.m-11 {
  margin: $s-10;
}

.m-12 {
  margin: $s-11;
}

.m-13 {
  margin: $s-12;
}

.m-14 {
  margin: $s-13;
}

.m-15 {
  margin: $s-14;
}

.m-16 {
  margin: $s-15;
}

.m-17 {
  margin: $s-16;
}

.m-18 {
  margin: $s-17;
}

.m-19 {
  margin: $s-18;
}

// TOP

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $s-0;
}

.mt-2 {
  margin-top: $s-1;
}

.mt-3 {
  margin-top: $s-2;
}

.mt-4 {
  margin-top: $s-3;
}

.mt-5 {
  margin-top: $s-4;
}

.mt-6 {
  margin-top: $s-5;
}

.mt-7 {
  margin-top: $s-6;
}

.mt-8 {
  margin-top: $s-7;
}

.mt-9 {
  margin-top: $s-8;
}

.mt-10 {
  margin-top: $s-9;
}

.mt-11 {
  margin-top: $s-10;
}

.mt-12 {
  margin-top: $s-11;
}

.mt-13 {
  margin-top: $s-12;
}

.mt-14 {
  margin-top: $s-13;
}

.mt-15 {
  margin-top: $s-14;
}

.mt-16 {
  margin-top: $s-15;
}

.mt-17 {
  margin-top: $s-16;
}

.mt-18 {
  margin-top: $s-17;
}

.mt-19 {
  margin-top: $s-18;
}

// RIGHT

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: $s-0;
}

.mr-2 {
  margin-right: $s-1;
}

.mr-3 {
  margin-right: $s-2;
}

.mr-4 {
  margin-right: $s-3;
}

.mr-5 {
  margin-right: $s-4;
}

.mr-6 {
  margin-right: $s-5;
}

.mr-7 {
  margin-right: $s-6;
}

.mr-8 {
  margin-right: $s-7;
}

.mr-9 {
  margin-right: $s-8;
}

.mr-10 {
  margin-right: $s-9;
}

.mr-11 {
  margin-right: $s-10;
}

.mr-12 {
  margin-right: $s-11;
}

.mr-13 {
  margin-right: $s-12;
}

.mr-14 {
  margin-right: $s-13;
}

.mr-15 {
  margin-right: $s-14;
}

.mr-16 {
  margin-right: $s-15;
}

.mr-17 {
  margin-right: $s-16;
}

.mr-18 {
  margin-right: $s-17;
}

.mr-19 {
  margin-right: $s-18;
}

// BOTTOM

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $s-0;
}

.mb-2 {
  margin-bottom: $s-1;
}

.mb-3 {
  margin-bottom: $s-2;
}

.mb-4 {
  margin-bottom: $s-3;
}

.mb-5 {
  margin-bottom: $s-4;
}

.mb-6 {
  margin-bottom: $s-5;
}

.mb-7 {
  margin-bottom: $s-6;
}

.mb-8 {
  margin-bottom: $s-7;
}

.mb-9 {
  margin-bottom: $s-8;
}

.mb-10 {
  margin-bottom: $s-9;
}

.mb-11 {
  margin-bottom: $s-10;
}

.mb-12 {
  margin-bottom: $s-11;
}

.mb-13 {
  margin-bottom: $s-12;
}

.mb-14 {
  margin-bottom: $s-13;
}

.mb-15 {
  margin-bottom: $s-14;
}

.mb-16 {
  margin-bottom: $s-15;
}

.mb-17 {
  margin-bottom: $s-16;
}

.mb-18 {
  margin-bottom: $s-17;
}

.mb-19 {
  margin-bottom: $s-18;
}

// LEFT

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: $s-0;
}

.ml-2 {
  margin-left: $s-1;
}

.ml-3 {
  margin-left: $s-2;
}

.ml-4 {
  margin-left: $s-3;
}

.ml-5 {
  margin-left: $s-4;
}

.ml-6 {
  margin-left: $s-5;
}

.ml-7 {
  margin-left: $s-6;
}

.ml-8 {
  margin-left: $s-7;
}

.ml-9 {
  margin-left: $s-8;
}

.ml-10 {
  margin-left: $s-9;
}

.ml-11 {
  margin-left: $s-10;
}

.ml-12 {
  margin-left: $s-11;
}

.ml-13 {
  margin-left: $s-12;
}

.ml-14 {
  margin-left: $s-13;
}

.ml-15 {
  margin-left: $s-14;
}

.ml-16 {
  margin-left: $s-15;
}

.ml-17 {
  margin-left: $s-16;
}

.ml-18 {
  margin-left: $s-17;
}

.ml-19 {
  margin-left: $s-18;
}

// MARGIN X

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: $s-0;
  margin-right: $s-0;
}

.mx-2 {
  margin-left: $s-1;
  margin-right: $s-1;
}

.mx-3 {
  margin-left: $s-2;
  margin-right: $s-2;
}

.mx-4 {
  margin-left: $s-3;
  margin-right: $s-3;
}

.mx-5 {
  margin-left: $s-4;
  margin-right: $s-4;
}

.mx-6 {
  margin-left: $s-5;
  margin-right: $s-5;
}

.mx-7 {
  margin-left: $s-6;
  margin-right: $s-6;
}

.mx-8 {
  margin-left: $s-7;
  margin-right: $s-7;
}

.mx-9 {
  margin-left: $s-8;
  margin-right: $s-8;
}

.mx-10 {
  margin-left: $s-9;
  margin-right: $s-9;
}

.mx-11 {
  margin-left: $s-10;
  margin-right: $s-10;
}

.mx-12 {
  margin-left: $s-11;
  margin-right: $s-11;
}

.mx-13 {
  margin-left: $s-12;
  margin-right: $s-12;
}

.mx-14 {
  margin-left: $s-13;
  margin-right: $s-13;
}

.mx-15 {
  margin-left: $s-14;
  margin-right: $s-14;
}

.mx-16 {
  margin-left: $s-15;
  margin-right: $s-15;
}

.mx-17 {
  margin-left: $s-16;
  margin-right: $s-16;
}

.mx-18 {
  margin-left: $s-17;
  margin-right: $s-17;
}

.mx-19 {
  margin-left: $s-18;
  margin-right: $s-18;
}

// MARGIN Y

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: $s-0;
  margin-bottom: $s-0;
}

.my-2 {
  margin-top: $s-1;
  margin-bottom: $s-1;
}

.my-3 {
  margin-top: $s-2;
  margin-bottom: $s-2;
}

.my-4 {
  margin-top: $s-3;
  margin-bottom: $s-3;
}

.my-5 {
  margin-top: $s-4;
  margin-bottom: $s-4;
}

.my-6 {
  margin-top: $s-5;
  margin-bottom: $s-5;
}

.my-7 {
  margin-top: $s-6;
  margin-bottom: $s-6;
}

.my-8 {
  margin-top: $s-7;
  margin-bottom: $s-7;
}

.my-9 {
  margin-top: $s-8;
  margin-bottom: $s-8;
}

.my-10 {
  margin-top: $s-9;
  margin-bottom: $s-9;
}

.my-11 {
  margin-top: $s-10;
  margin-bottom: $s-10;
}

.my-12 {
  margin-top: $s-11;
  margin-bottom: $s-11;
}

.my-13 {
  margin-top: $s-12;
  margin-bottom: $s-12;
}

.my-14 {
  margin-top: $s-13;
  margin-bottom: $s-13;
}

.my-15 {
  margin-top: $s-14;
  margin-bottom: $s-14;
}

.my-16 {
  margin-top: $s-15;
  margin-bottom: $s-15;
}

.my-17 {
  margin-top: $s-16;
  margin-bottom: $s-16;
}

.my-18 {
  margin-top: $s-17;
  margin-bottom: $s-17;
}

.my-19 {
  margin-top: $s-18;
  margin-bottom: $s-18;
}
