// Padding's

.p-0 {
  padding: 0;
}

.p-1 {
  padding: $s-0;
}

.p-2 {
  padding: $s-1;
}

.p-3 {
  padding: $s-2;
}

.p-4 {
  padding: $s-3;
}

.p-5 {
  padding: $s-4;
}

.p-6 {
  padding: $s-5;
}

.p-7 {
  padding: $s-6;
}

.p-8 {
  padding: $s-7;
}

.p-9 {
  padding: $s-8;
}

.p-10 {
  padding: $s-9;
}

.p-11 {
  padding: $s-10;
}

.p-12 {
  padding: $s-11;
}

.p-13 {
  padding: $s-12;
}

.p-14 {
  padding: $s-13;
}

.p-15 {
  padding: $s-14;
}

.p-16 {
  padding: $s-15;
}

.p-17 {
  padding: $s-16;
}

.p-18 {
  padding: $s-17;
}

.p-19 {
  padding: $s-18;
}

// TOP

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: $s-0;
}

.pt-2 {
  padding-top: $s-1;
}

.pt-3 {
  padding-top: $s-2;
}

.pt-4 {
  padding-top: $s-3;
}

.pt-5 {
  padding-top: $s-4;
}

.pt-6 {
  padding-top: $s-5;
}

.pt-7 {
  padding-top: $s-6;
}

.pt-8 {
  padding-top: $s-7;
}

.pt-9 {
  padding-top: $s-8;
}

.pt-10 {
  padding-top: $s-9;
}

.pt-11 {
  padding-top: $s-10;
}

.pt-12 {
  padding-top: $s-11;
}

.pt-13 {
  padding-top: $s-12;
}

.pt-14 {
  padding-top: $s-13;
}

.pt-15 {
  padding-top: $s-14;
}

.pt-16 {
  padding-top: $s-15;
}

.pt-17 {
  padding-top: $s-16;
}

.pt-18 {
  padding-top: $s-17;
}

.pt-19 {
  padding-top: $s-18;
}

// RIGHT

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: $s-0;
}

.pr-2 {
  padding-right: $s-1;
}

.pr-3 {
  padding-right: $s-2;
}

.pr-4 {
  padding-right: $s-3;
}

.pr-5 {
  padding-right: $s-4;
}

.pr-6 {
  padding-right: $s-5;
}

.pr-7 {
  padding-right: $s-6;
}

.pr-8 {
  padding-right: $s-7;
}

.pr-9 {
  padding-right: $s-8;
}

.pr-10 {
  padding-right: $s-9;
}

.pr-11 {
  padding-right: $s-10;
}

.pr-12 {
  padding-right: $s-11;
}

.pr-13 {
  padding-right: $s-12;
}

.pr-14 {
  padding-right: $s-13;
}

.pr-15 {
  padding-right: $s-14;
}

.pr-16 {
  padding-right: $s-15;
}

.pr-17 {
  padding-right: $s-16;
}

.pr-18 {
  padding-right: $s-17;
}

.pr-19 {
  padding-right: $s-18;
}

// BOTTOM

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: $s-0;
}

.pb-2 {
  padding-bottom: $s-1;
}

.pb-3 {
  padding-bottom: $s-2;
}

.pb-4 {
  padding-bottom: $s-3;
}

.pb-5 {
  padding-bottom: $s-4;
}

.pb-6 {
  padding-bottom: $s-5;
}

.pb-7 {
  padding-bottom: $s-6;
}

.pb-8 {
  padding-bottom: $s-7;
}

.pb-9 {
  padding-bottom: $s-8;
}

.pb-10 {
  padding-bottom: $s-9;
}

.pb-11 {
  padding-bottom: $s-10;
}

.pb-12 {
  padding-bottom: $s-11;
}

.pb-13 {
  padding-bottom: $s-12;
}

.pb-14 {
  padding-bottom: $s-13;
}

.pb-15 {
  padding-bottom: $s-14;
}

.pb-16 {
  padding-bottom: $s-15;
}

.pb-17 {
  padding-bottom: $s-16;
}

.pb-18 {
  padding-bottom: $s-17;
}

.pb-19 {
  padding-bottom: $s-18;
}

// LEFT

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: $s-0;
}

.pl-2 {
  padding-left: $s-1;
}

.pl-3 {
  padding-left: $s-2;
}

.pl-4 {
  padding-left: $s-3;
}

.pl-5 {
  padding-left: $s-4;
}

.pl-6 {
  padding-left: $s-5;
}

.pl-7 {
  padding-left: $s-6;
}

.pl-8 {
  padding-left: $s-7;
}

.pl-9 {
  padding-left: $s-8;
}

.pl-10 {
  padding-left: $s-9;
}

.pl-11 {
  padding-left: $s-10;
}

.pl-12 {
  padding-left: $s-11;
}

.pl-13 {
  padding-left: $s-12;
}

.pl-14 {
  padding-left: $s-13;
}

.pl-15 {
  padding-left: $s-14;
}

.pl-16 {
  padding-left: $s-15;
}

.pl-17 {
  padding-left: $s-16;
}

.pl-18 {
  padding-left: $s-17;
}

.pl-19 {
  padding-left: $s-18;
}

// padding X

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: $s-0;
  padding-right: $s-0;
}

.px-2 {
  padding-left: $s-1;
  padding-right: $s-1;
}

.px-3 {
  padding-left: $s-2;
  padding-right: $s-2;
}

.px-4 {
  padding-left: $s-3;
  padding-right: $s-3;
}

.px-5 {
  padding-left: $s-4;
  padding-right: $s-4;
}

.px-6 {
  padding-left: $s-5;
  padding-right: $s-5;
}

.px-7 {
  padding-left: $s-6;
  padding-right: $s-6;
}

.px-8 {
  padding-left: $s-7;
  padding-right: $s-7;
}

.px-9 {
  padding-left: $s-8;
  padding-right: $s-8;
}

.px-10 {
  padding-left: $s-9;
  padding-right: $s-9;
}

.px-11 {
  padding-left: $s-10;
  padding-right: $s-10;
}

.px-12 {
  padding-left: $s-11;
  padding-right: $s-11;
}

.px-13 {
  padding-left: $s-12;
  padding-right: $s-12;
}

.px-14 {
  padding-left: $s-13;
  padding-right: $s-13;
}

.px-15 {
  padding-left: $s-14;
  padding-right: $s-14;
}

.px-16 {
  padding-left: $s-15;
  padding-right: $s-15;
}

.px-17 {
  padding-left: $s-16;
  padding-right: $s-16;
}

.px-18 {
  padding-left: $s-17;
  padding-right: $s-17;
}

.px-19 {
  padding-left: $s-18;
  padding-right: $s-18;
}

// padding Y

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: $s-0;
  padding-bottom: $s-0;
}

.py-2 {
  padding-top: $s-1;
  padding-bottom: $s-1;
}

.py-3 {
  padding-top: $s-2;
  padding-bottom: $s-2;
}

.py-4 {
  padding-top: $s-3;
  padding-bottom: $s-3;
}

.py-5 {
  padding-top: $s-4;
  padding-bottom: $s-4;
}

.py-6 {
  padding-top: $s-5;
  padding-bottom: $s-5;
}

.py-7 {
  padding-top: $s-6;
  padding-bottom: $s-6;
}

.py-8 {
  padding-top: $s-7;
  padding-bottom: $s-7;
}

.py-9 {
  padding-top: $s-8;
  padding-bottom: $s-8;
}

.py-10 {
  padding-top: $s-9;
  padding-bottom: $s-9;
}

.py-11 {
  padding-top: $s-10;
  padding-bottom: $s-10;
}

.py-12 {
  padding-top: $s-11;
  padding-bottom: $s-11;
}

.py-13 {
  padding-top: $s-12;
  padding-bottom: $s-12;
}

.py-14 {
  padding-top: $s-13;
  padding-bottom: $s-13;
}

.py-15 {
  padding-top: $s-14;
  padding-bottom: $s-14;
}

.py-16 {
  padding-top: $s-15;
  padding-bottom: $s-15;
}

.py-17 {
  padding-top: $s-16;
  padding-bottom: $s-16;
}

.py-18 {
  padding-top: $s-17;
  padding-bottom: $s-17;
}

.py-19 {
  padding-top: $s-18;
  padding-bottom: $s-18;
}
