@media screen and (max-width: 1040px) {
    .hero {
        &__data {
            &-title {
                font-size: 48px;
            }
            &-description {
                font-size: 24px;
            }
        }
        &__circle {
            &-lg {
                width: 400px;
                height: 400px;
            }
            &-md {
                width: 200px;
                height: 200px;
            }
            &-sm {
                width: 60px;
                height: 60px;
            }
        }
        &__social {
            &-lg {
                width: 400px;
                height: 400px;
            }
            &-md {
                width: 200px;
                height: 200px;
            }
            &-sm {
                width: 60px;
                height: 60px;
            }
        }
    }
    // Social
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .m-1,
    .m-2,
    .m-3,
    .m-4 {
        padding: 20px;
        font-size: 20px;
    }
    // Skills
    .md-1,
    .md-2,
    .md-3,
    .md-4 {
        width: 45px;
        height: 45px;
    }
    .lg-1,
    .lg-2,
    .lg-4,
    .lg-5,
    .lg-6,
    .lg-8 {
        width: 70px;
        height: 70px;
    }
    .lg-3,
    .lg-7 {
        width: 95px;
        height: 95px;
    }
}

@media screen and (max-width: 576px) {
    .job,
    .job-reverse {
        flex-direction: column;
        height: auto;
        &__data {
            padding: 16px;
        }
        &__select {
            display: none;
        }
        &:hover {
            &::after {
                right: -100%;
            }
        }
    }
    .job-reverse {
        &:hover {
            &::after {
                right: 100%;
            }
        }
    }
    .rafael-moura,
    .nubank {
        &::after {
            width: 100%;
            right: 0;
        }
    }
    .spider-man {
        &::after {
            width: 100%;
            right: 0;
        }
    }
}