// Grid Layout
@function grid($col, $total: 12) {
    @return ($col / $total) * 100%;
}

@for $i from 1 through 12 {
    .c-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: $gutter / 2;
        padding: 16px 0px;
        float: left;
        @include breakpoint(s) {
            width: calc(100% - #{$gutter});
            float: none;
        }
    }
}

@for $i from 1 through 12 {
    .c-nobreak-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: $gutter / 2;
        padding: 16px 0px;
        float: left;
    }
}